################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MPHDailyQuoteWallpaper/FileContentIndex/34488c87-9f69-42e1-abe2-67a834bdc0d5.vsidx
/.vs/MPHDailyQuoteWallpaper/FileContentIndex/b554838f-1b6f-4cbc-b15f-07cf3a8132ac.vsidx
/.vs/MPHDailyQuoteWallpaper/FileContentIndex/2957b44a-c6e6-4426-958c-9de0becb75e2.vsidx
/.vs/MPHDailyQuoteWallpaper/FileContentIndex/169979f8-acbd-4050-9806-547d02fa67d7.vsidx
/.vs/MPHDailyQuoteWallpaper/FileContentIndex/424c1e88-375a-413f-a406-5a502643b310.vsidx
/.vs/MPHDailyQuoteWallpaper/FileContentIndex/62524d1a-7fe8-40a8-b9c5-3019c3f759f6.vsidx
